body {
    padding: 0 !important;
    margin: 0 !important;
}
.custom-container {
    background-color: #dda50a;
    border: 0;
    padding: 0 !important;
    margin: 0 !important;
    color: black;
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notifications {
    z-index: 1050 !important;
}
.custom-navbar {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    margin-bottom: 30px !important;
}
.custom-navbar-inner {
    background-color: #dda50a !important;
    box-shadow: 0px 5px 5px black;
}
.custom-logo-holder {
    display: flex;
    flex-direction: column;
    
}
.custom-logo-holder > img {
    max-width: 300px;
}
.custom-brand {
    margin-top: 5px;
    color: black !important;
    font-weight: bolder !important;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    align-self: center;
}
.custom-header-buttons {
    display: flex;
}
#navigation_bar > * {
    padding: 0 !important;
}
/* login */
@media (max-width: 700px)
{
    
    .custom-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 360px)
{
    .custom-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .custom-header-buttons {
        display: block;
    }
}

.custom-pdf-button {
    margin-top: 30px;
}
.custom-ranking > a {
    background-color: #dda50a;
    color: white;
}