.pdf-wrapper {
    min-width: 300px;
    padding: 5px;
    margin: 5px 40px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 20px;

    background-color: #f5f5f5;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 5px 5px 5px #dda50a;
}
.pdf-review {
    min-height: 300px;
}
.pdf-review > canvas {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
}
.pdf-control {
    background-color: #dda50a;
    padding: 5px 0px;
    border: 1px solid black;
    margin: 5px 0px;
    display: flex;
}
.pdf-control-button {
    background-color: #2e2d2b;
    color: white;
    justify-content: baseline;
    flex-grow: 1;
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    text-shadow: white 0px 0 10px;
    user-select: none;
}
.pdf-control-page {
    width: 80px;
    text-align: center;
    padding: 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
body {
    padding: 0 15%;
}

.pdf-control-scale {
    width: 100%;
    cursor: pointer;
}